@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --color: #FAFAFA;
}

body {
  color: var(--color);
  background-color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
